.clip_thumbnail
  .thumbnail
    .heading
      parked domain
    .caption{:style => "background-color: #{r.background_color}"}
      %a{:href => uns_park.space_path(r)}
        = image_tag r.main_icon.url(:thumb), {:height => 100}
      .caption
        %h4
          = r.domain || r.name
        %a.not_close{:type => "button", 'href' => "http://#{r.domain}"}
          .glyphicon.glyphicon-cloud
